body {
    background-color: lightblue;
}

form {
    background-color: aquamarine;
}

.product{
    background-color: lightskyblue;
    font-size: large;
    font-style: italic;
}

.details{
    background-color: lawngreen;
}

.registration{
    background-color: crimson;
    position: center;
}

.signIn{
    background-color: brown;
    position: center;
}

h1 {
    color: white;
    text-align: center;
}
