<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Main Page</title>
</head>

<body>
<h4>Main page</h4>

<h5>Registration</h5>
<div class="registration">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="button" onclick="User.registration()"> Register </button>
    <button type="button" onclick="User.signIn()"> SignIn </button>
</div>

<div id="productsButtons">
<button type="button" onclick="Product.getProduct()"> getProduct </button>
<button type="button" onclick="Product.getAllProducts()"> getAllProducts </button>
</div>

<div class="detailsInput">
    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>

    <label for="secondName">Last name:</label><br>
    <input type="text" id="secondName" name="secondName"><br>

    <label for="email">eMail:</label><br>
    <input type="email" id="email" name="email"><br>

    <button type="button" onclick="UserDetails.confirmDetails()"> confirmDetails </button>
    <button type="button" onclick="UserDetails.getDetails()"> getDetails </button>
</div>

<div class="addressInput">
    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country"><br>

    <label for="state">State:</label><br>
    <input type="text" id="state" name="state"><br>

    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>

    <label for="street">Street:</label><br>
    <input type="text" id="street" name="street"><br>

    <label for="postalCode">Postal Code:</label><br>
    <input type="text" id="postalCode" name="postalCode"><br>

    <button type="button" onclick="UserAddress.confirmAddress()"> change address </button>
    <button type="button" onclick="UserAddress.getAddress()"> get address </button>
</div>


</body>
</html>